*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#a4a4a4 ;
    font-size: 30px;
    text-align: center; 
    font-family: 'Dancing Script', cursive; 
}

.cabecera{
    float: left;
    width: 69%;
 
}
.articulos{
     float: left;
     height: 20%;

 }
img{
    display: flex;
    margin-top: 3%;
    border-radius: 15%;
}

p{
    width: 50%;
    height: 50%;
    margin-left: 20%;
    padding: 1rem;
}

.articulos{
    width: 69%;
   
}
.articulo01{
    display: flex;
    
   
}
.articulo01 img:nth-of-type(2){
    margin-left: 3%;
}



.OTRO{
   
    width: 31%;
    height: 50%;
    float: right;
}

input{
    width: 50%;
    height: 30%;
}
input button{
    width: 50%;
    height: 40%;
    border-radius: 20%;
    background-color: tomato;

}
